{% extends "base.html" %}

{% block content %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post-content" itemprop="articleList">
        {% set date = "" %}
        {% for page in section.pages | sort(attribute="date") | reverse %}
            {% set currentdate = page.date | date(format="%Y") %}
            {% if currentdate != date %}
                {% if not loop.first %}</ul>{% endif %}
                <h2 id='y{{ page.date | date(format="%Y") }}'>{{ currentdate }}</h2>
                <ul class="post-list">
                {% set_global date = currentdate %}
            {% endif %}
            <li><a class="post-link" href="{{ page.permalink }}">{{ page.title }}</a></li>
            {% if loop.last %}</ul>{% endif %}
        {% endfor %}
    </div>
</article>
{% endblock content %}